bidict==0.21.4
blinker==1.5
click==8.0.4
Flask==2.0.3
Flask-Cors==5.0.0
Flask-SocketIO==5.4.1
h11==0.13.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
python-engineio==4.10.1
python-socketio==5.7.2
simple-websocket==1.1.0
Werkzeug==2.0.3
wsproto==1.0.0